.TechCardBook__ {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 200px 0;

  &container {
    &__section1,
    &__section2 {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    &__section1 {
      margin-bottom: 10px;
      &__text {
        font-size: 27px;
        width: 470px;
        height: 300px;
        line-height: 1.4;
        font-weight: 600;

        // margin-right: 10px;

        span {
          font-size: 3.2rem;
          font-weight: 800;
        }
      }
    }
  }
}

// 반응형
// 1199px까지 적용
@include responsive(T) {
  .TechCardBook__ {
    padding: 200px 20px;
    &container {
      &__section1 {
        &__text {
          width: 100%;
        }
      }

      &__section2 {
        &__section {
          width: 100%;
        }
      }
    }
  }
}

// 브라우저 사이즈 768px 이하일때
@media (max-width: 830px) {
  .TechCardBook__ {
    &container {
      &__section1,
      &__section2 {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__text {
          height: 100px;
        }
      }
    }
  }
}

// 반응형 2
// 575px까지 적용
@include responsive(M) {
  .TechCardBook__ {
    padding: 150px 20px;

    &container {
      display: flex;
      flex-direction: column;
      margin: 0;

      &__seciont1,
      &__seciont2,
      &__seciont3 {
        width: 100%;
        margin: 0;
      }

      &__section1 {
        margin-bottom: 20px;
        &__text {
          margin-bottom: 20px;
        }
      }

      &__section2 {
        gap: 20px;
      }
    }
  }
}
