/* img {
  width: 80%;
  height: 80%;
}

SwiperSlideContainer {
} */

.patent_container {
  width: 100%;
  height: 75vh;
  position: relative;

  .swiper {
    width: 70%;
    --swiper-theme-color: $blue_main;
  }

  .swiper-slide {
    text-align: center;
    img {
      width: 100%;
      height: 300px;
    }
  }

  .patent {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
  }
  .patent_center {
    align-items: center;
  }
  .swiper-button-prev {
    margin-left: 11%;
    // margin-top: -75px;
    z-index: 0;
    /// 이 부분 추가,,,,
    top: 270px;
  }

  .swiper-button-next {
    margin-right: 11%;
    // margin-top: -75px;
    z-index: 0;
    /// 이 부분 추가,,,,
    top: 270px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 28px;
    font-weight: 700;
    color: $border;
  }

  .swiper-pagination-bullet-active {
    background-color: $blue_main;
  }

  .swiper .swiper-pagination {
    position: absolute;
    top: 300px;
  }

  @include responsive(T) {
    .swiper-button-prev {
      margin-left: 9%;
      // margin-top: -72px;
    }
    .swiper-button-next {
      margin-right: 9%;
      // margin-top: -72px;
    }
  }
  @include responsive(M) {
    .patent {
      font-size: 2rem;
    }
    // .patent_container1 {
    //   height: 70vh;
    // }
    .swiper-button-prev {
      margin-left: 7%;
      // margin-top: -18px;
    }
    .swiper-button-next {
      margin-right: 7%;
      // margin-top: -18px;
    }
    .swiper-slide {
      img {
        // margin-left: 17px;
        width: 230px;
      }
    }
  }
}
