.TechConTitle_container {
  padding: 300px 0;
}

.TechConTitle {
  @include big-title();

  &_title {
    padding-bottom: 60px;
    color: $dark;

    &_small {
      @include small-title();
    }
  }
  &_content {
    display: flex;
    justify-content: center;

    width: 100%;

    overflow: hidden;

    &_firstimg {
      width: 1000px;
      // width: 65%;
      height: 480px;
      border-radius: 20px;

      object-fit: cover;
      object-position: bottom;
    }
  }
}

// 반응형
@include responsive(T) {
  .TechConTitle_container {
    padding: 200px 0;
  }

  .TechConTitle {
    font-size: 35px;

    &_content {
      &_firstimg {
        width: 100%;
        border-radius: 0px;
      }
    }
  }
}

// 반응형 모바일
@include responsive(M) {
  .TechConTitle_container {
    padding: 150px 0;
  }

  .TechConTitle {
    font-size: 30px;
  }
}
