.TechMain__Main {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .TechMain__Main__Image {
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    object-fit: cover;
  }

  .TechMain__title {
    position: absolute;
    top: 82.5%;
    left: 6%;

    font-size: 4rem;
    font-weight: 700;

    word-break: keep-all;

    color: $white;

    text-shadow: 0px 0px 20px rgb(35, 36, 37);
  }
}

// 반응형
@include responsive(T) {
  .TechMain__Main {
    .TechMain__title {
      font-size: 3rem;
    }
  }
}

@include responsive(M) {
  .TechMain__Main {
    .TechMain__title {
      font-size: 2.5rem;
    }
  }
}
