.patent_container {
  width: 100%;

  padding: 100px 0;
  position: relative;

  .swiper {
    width: 70%;
    --swiper-theme-color: $blue_main;
  }

  .swiper-slide {
    text-align: center;
    img {
      width: 100%;
      // max-width 값 주어 모바일 세로모드일 때 사진 넓이가 길게 보이지 x
      max-width: 230px;
      height: 300px;
    }
  }

  .patent-title {
    @include big-title();
    .small-title {
      @include small-title();
    }
  }
  .patent_center {
    align-items: center;
  }
  .swiper-button-prev {
    margin-left: 11%;
    z-index: 0;
    top: 390px;
  }

  .swiper-button-next {
    margin-right: 11%;
    z-index: 0;
    top: 390px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 28px;
    font-weight: 700;
    color: $border;
  }

  .swiper-pagination-bullet-active {
    background-color: $blue_main;
  }

  @include responsive(T) {
    .swiper-button-prev {
      margin-left: 9%;
    }
    .swiper-button-next {
      margin-right: 9%;
    }
    // 이 부분 추가하니 모바일 세로모드에서 푸터랑 겹칠일 x
    height: 600px;
  }
  @include responsive(M) {
    .patent {
      font-size: 2rem;
    }
    .swiper-button-prev {
      margin-left: 7%;
    }
    .swiper-button-next {
      margin-right: 7%;
    }
  }
}
