.TechMeasurementTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 120vh;
  width: 100%;
  padding: 200px 0;
  background: rgba($blue-bright, 0.8);

  &_Contents {
    @include big-title();
    font-size: 30px;

    &_small {
      @include small-title();
    }
  }

  &_Table {
    margin-bottom: 1.5vh;
    // width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &_In {
      height: 350px;
      border-collapse: collapse;
      border-bottom: 2px solid $blue_middle;
      table-layout: fixed;
      background-color: white;

      .TechMeasurementTable_Thead__tr {
        height: 50px;
        background-color: $blue_middle;
        color: white;
        font-size: 1.2rem;
      }

      tr td {
        border-bottom: 1px solid $background;
        padding: 15px;
        text-align: center;
      }

      .TechMeasurementTable_Tbody_tr {
        background-color: $blue_bright;
      }
    }
    &_explain {
      font-size: 15px;
      padding: 15px 0 100px 0;
      text-align: center;
      word-break: keep-all;
      line-height: 1.4;
      color: $teritiary;
    }
  }

  &_spec {
    display: flex;
    align-items: center;
    justify-content: center;

    &_graybox {
      display: flex;
      justify-content: space-evenly;
      width: 800px;
      height: 150px;

      background: #f9f9f9;
      border-radius: 15px;
      display: flex;
      align-items: center;

      &_section1 {
        color: #1b76ff;
        font-weight: 800;
        font-size: 1.5rem;
      }
      &_section2,
      &_section3 {
        line-height: 25px;
        color: $secondary;
      }
    }
  }
}

// 반응형 1
@include responsive(T) {
  .TechMeasurementTable {
    padding: 200px 0;
    &_Contents {
      font-size: 2rem;

      &_small {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
    .TechMTbr {
      display: block;
      text-align: right;
    }

    &_Table {
      &_In {
        width: 550px;
        font-size: 12px;

        .TechMTable_br {
          display: block;
        }

        th {
          font-size: 1rem;
        }
        td {
          font-size: 12px;
          height: 65px;
        }
        .TechAccurate {
          font-size: 10.3px;
        }
      }
    }
    &_spec {
      &_graybox {
        width: 550px;
        &_section1 {
          font-size: 1rem;
          &_br {
            display: block;
          }
        }
        &_section2,
        &_section3 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

// 반응형 2
@include responsive(M) {
  .TechMeasurementTable {
    padding: 150px 0;
    &_Contents {
      font-size: 24px;
      text-align: center;
      line-height: 1.5;
      &_br {
        display: block;
      }
    }
    .TechMTHide {
      display: none;
    }
    .TechMTbr {
      display: block;
    }
    &_Table {
      &_In {
        width: 300px;
      }
    }
    &_explain {
      font-size: 12px;
      text-align: center;
      line-height: 1.5;
      &_br {
        display: block;
      }
    }

    &_spec {
      &_graybox {
        width: 305px;
        height: 180px;
        flex-direction: column;
        justify-content: center;

        &_section1,
        &_section2,
        &_section3 {
          text-align: center;
        }
        &_section1 {
          &_br {
            display: inline;
          }
        }

        &_section2 {
          padding-top: 10px;
        }
      }
    }
  }
}
